body {
  font-family: Helvetica;
  background-color: #FFEAE7;
}

header{
  background-color: #800000;
  padding: 0.2em;
  position: relative;
}

header a{
  color: white;
  font-family: Helvetica;
  text-decoration: none;
}

#messages .error {
  background-color: red;
  color: white;
}

#messages .success {
  background-color: green;
  color: white;
}

#login, #register, #password {
  border-style: solid;
  padding: 0em 2em 1em 2em;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

#story_preview {
  margin-top: 2%;
  border-style: solid;
}

#login #error_text {
  color: red;
}

#login h1, #register h1, #password h1{
  text-align: center;
  font-size: 2.5em;
}

#login input, #register input, #password input {
  display: block;
  margin: 1em 0;
}

#profile #profile_info {
  float: left;
}

#profile #profile_info h2 {
  display: inline-flex;
}

#profile #profile_info h3 {
  display: inline;
}

#profile #profile_info form {
  display: inline-block;
}

#profile #profile_pic{
  height: 300px;
  width: 300px;
  float: left;
  padding: 0px 30px;
}

footer{
  clear: left;
  padding-top: 50px;
}

#story_preview ul{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 0;
  margin: 0;
}

#story_preview li {
  text-align: center;
  list-style-type: none;
  padding: 1em;
}
