body {
  font-family: IBMPlexSans, Helvetica Neue, Segoe UI, Helvetica, Verdana, Arial, sans-serif;
  background-color: #D5E2EB;
  margin: 0;
}

ul{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 0;
  margin: 0;
}

li {
  text-align: center;
  list-style-type: none;
  padding: 0.5em;
}

/*#myStories ul li{
  display: inline-flex;
}*/

#list_channels{
  background-color: white;
  position: relative;
}

#list_channels p{
  float: right;
  margin: 0;
}

#list_channels li, #list_channels p {
  padding: 0;
}

.nUpVote:hover,.commentUpVote:hover{
  color: green;
}

.nDownVote:hover,.commentDownVote:hover{
  color: red;
}

#header{
  background-color: #800000;
  padding: 0.2em;
  position: relative;
}

/*#cover{
  height: 200px;
  width: 100%;
}*/

#cover_image{
  /*height: 200;*/
  width: 100%;
}

#channelName {
  top: 2px;
  background-color: transparent;
  position: absolute;
  /*width: 250px;*/
  padding-top: 3em;
}


#header h1{
  margin: 0.2em;
}

#options{
  float: right;
  height: 0;
}

#header h2{
  margin-bottom: 0;
}

article, #story_preview {
  background-color: white;
  width: 60%;
  margin: auto;
  border-radius: 1em;
}

article h1{
  margin: auto;
}

article header, #story_preview h3 {
  margin-top: 1em;
  padding: 0.5em;
  border-bottom: 1px solid #800000;
}

article p, #story_preview p {
  padding-left: 0.5em;
}

article img{
  align-self: auto;
}

article footer, #story_preview ul {
  padding: 0;
  border-top: 1px solid #800000;
}

#moreChannels{
  border-left: 1px solid #800000;
}

#channelsList{
  min-height: 100vh;
}

#messages .error {
  background-color: red;
  color: white;
}

#messages .success {
  background-color: green;
  color: white;
}

body,html{
  min-height: 100vh;
}

#login_div{
  min-height: 100vh;
}

#login, #register {
  border-radius: 1em;
  background-color: white;
  padding: 0em 2em 1em 2em;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

#header div {
  margin-top: 1.2em;
}

/*#order_stories ul{
  float: left;
}*/

/*#all_add{
  display: flex;
}*/

#addStory{
  margin-top: 1.6em;
  padding-left: 2em;
}

#order_stories #order {
  float: right;
  margin: 0;
  position: relative;
}

#order_comments {
  display: flex;
  margin-left: 20%;
}

#order_comments p{
  margin: 1.3em 1em 1em 2.5em;
}

#login #error_text {
  color: red;
}

#login h1, #register h1, #recover_password h1{
  text-align: center;
  font-size: 2.5em;
  color: #800000;
}

#title{
  width: 100%;
  border-radius: 0.5em;
  border-style:
}

#new_comment {
  width: 60%;
  margin-top: 2em;
  margin-left: auto;
  margin-right: auto;
}

#new_story {
  width: 60%;
  margin: auto;
}


#btnLoadComments, #btnLoadStories {
  margin-top: 1em;
  margin-left: 20%;
  border-radius: 0.5em;
}

#profile {
  display: flex;
  width: 80%;
  margin: auto;
  border-radius: 1em;
}

#profile #profile_info {
  float: left;
  height: 300px;
  width: 100%;
  border-radius: 1em;
  background-color: white;
  font-size: 75%;
}

#uploadPic{
  display: flex;
}

#profile #profile_info h2 {
  display: inline-flex;
}

#profile #profile_info h3 {
  display: inline;
}

#profile #profile_info form {
  display: inline-block;
}

#profile #profile_pic{
  /*height: 300px;
  width: 300px;*/
  float: left;
  padding-right: 30px;
}

#myStories {
  display: block;
}

#myStories h1 {
  margin: auto;
}

#myAddStory h1, #myAddStory li {
  margin-bottom: auto;
  padding-top: 0;
  padding-bottom: 0;
}

/*#myStories h1, #myStories li {
  margin-bottom: auto;
  padding-top: 0;
  padding-bottom: 0;
}*/

footer{
  clear: left;
  bottom: auto;
  padding-top: 50px;
}

#register #confPasswordError{
  color:red;
}
