body {
  font-family: IBMPlexSans, Helvetica Neue, Segoe UI, Helvetica, Verdana, Arial, sans-serif;
  background-color: #D5E2EB;
  margin: 0;
}

a:link, a:visited{
  color: black;
  text-decoration: none;
}

a:hover{
  color: #800000;
}

#list_channels li:hover, #list_channels p:hover {
  background-color: #800000;
}

#list_channels li a:hover, #list_channels p a:hover{
  color: white;
}

.nUpVote:hover,.commentUpVote:hover{
  color: green;
}

.nDownVote:hover,.commentDownVote:hover{
  color: red;
}

.header{
  background-color: #800000;
  padding: 0.2em;
  position: relative;
}

.header a{
  color: white;
  font-family: Helvetica;
}

.header h1{
  margin: 0.2em;
}

#list_channels{
  background-color: white;
  position: relative;
}

#list_channels p{
  float: right;
  margin: 0;
  padding: 0.5em;
}

#options{
  float: right;
  height: 0;
}

.header h2{
  margin-bottom: 0;
}

article, #story_preview {
  background-color: white;
  width: 60%;
  margin: auto;
  border-radius: 1em;
}

article h1{
  margin: auto;
}

article header, #story_preview h3 {
  margin-top: 1em;
  padding: 0.5em;
  border-bottom: 1px solid #800000;
}

article header a, #story_preview h3 a{
  font-weight: bold;
}

article footer, #story_preview ul {
  padding: 0;
  border-top: 1px solid #800000;
}

#messages .error {
  background-color: red;
  color: white;
}

#messages .success {
  background-color: green;
  color: white;
}


#login, #register {
  border-radius: 1em;
  background-color: white;
  padding: 0em 2em 1em 2em;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.header div {
  margin-top: 1.2em;
}

.header div a{
  list-style-type: none;
  padding-left: 1em;
}

/*#order_stories ul{
  float: left;
}*/

/*#all_add{
  display: flex;
}*/

#addStory{
  margin-top: 1.6em;
  padding-left: 2em;
}

#order_stories #order {
  float: right;
  margin: 0;
  position: relative;
}

#order_comments {
  display: flex;
  margin-left: 20%;
}

#order_comments p{
  margin: 1.3em 1em 1em 2.5em;
}

#login #error_text {
  color: red;
}

#login h1, #register h1, #recover_password h1{
  text-align: center;
  font-size: 2.5em;
  color: #800000;
}

#title{
  width: 100%;
  border-radius: 0.5em;
  border-style:
}

#story_input{
  border-radius: 1em;
  width: 100%;
  height: 20em;
  resize: none;
}

#content{
  border-radius: 1em;
  width: 100%;
  resize: none;
}

#new_comment {
  width: 60%;
  margin-top: 2em;
  margin-left: auto;
  margin-right: auto;
}

#new_story {
  width: 60%;
  margin: auto;
}

/*#login input, #register input, #password input, #new_story input {
  display: block;
  margin: 1em 0;
}*/

input {
  display: block;
  margin: 1em 0;
}


#btnLoadComments, #btnLoadStories {
  margin-top: 1em;
  margin-left: 20%;
  border-radius: 0.5em;
}

#profile {
  display: inline-block;
}

#profile #profile_info {
  float: left;
}

#profile #profile_info h2 {
  display: inline-flex;
}

#profile #profile_info h3 {
  display: inline;
}

#profile #profile_info form {
  display: inline-block;
}

#profile #profile_pic{
  height: 300px;
  width: 300px;
  float: left;
  padding: 0px 30px;
}

#myStories {
  display: block;
}

footer{
  clear: left;
  bottom: auto;
  padding-top: 50px;
}

ul{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 0;
  margin: 0;
}

li {
  text-align: center;
  list-style-type: none;
  padding: 0.5em;
}

#register #confPasswordError{
  color:red;
}
