<!DOCTYPE html>
<html lang="en-US">
  <head>
    <title>channelOmania</title>
    <meta charset="UTF-8">
    <link href="style.css" rel="stylesheet">
  </head>
  <body>
    <header>
      <h1><a href="register.html">channelOmania</a></h1>
    </header>
    <section id="login">
      <h1>Login</h1>
      <form>
        <input type="text" name="username" placeholder="Username">
        <input type="email" name="email" placeholder="E-mail">
        <input type="password" name="password" placeholder="Password">
        <input type="submit" value="Login">
      </form>
      <p><a href="password.html">Forgot your password?</a></p>
      <p>Don't have an account?<a href="register.html">Register Now</a></p>
    </section>
  </body>
</html>
